.cartMenu--side-body{
    width:30%;
    background:white;
    height:100%;

}
.cartMenu--hide-body{
    width:30%;
    background:white;
    height:100%; 
    position:fixed;
    left:70%;
    z-index:3;
}