@import "./global.scss";

.cart--button {
  width: 100px;
  height: 40px;
  color: $pink;
  background-color: $light-pink;

  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: solid 2px $pink;
  font-size: 13px;
  &:hover {
    background-color: $pink;
    color: $light-pink;
    transition: 0.5s;
  }
}
.cart--img {
  width: 100px;
  margin: 20px;
}
.cart--list_item {
  display: flex;
  justify-content: space-around;
}
.cart--wrapper {
  height: 100vh;
  background-color: $light-pink;
  display: flex;

  width: 100%;
  margin: 0px 0px 0px 0px;
}
.cart--list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cart--list_item {
  list-style-type: none;
  justify-content: space-between;
  align-items: center;
  width: 45%;
}

.cart--img {
  width: 100px;
  margin: 20px;
}
@media screen and (max-width: 700px) {
  .cart--wrapper {
    flex-direction: column;
    height: 100vh;
  }
}
