@import "./global.scss";

.cart--button {
  width: 100px;
  height: 40px;

  color: $pink;
  background-color: $light-pink;
  position: absolute;
  top: 80vh;
  left: 610px;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: solid 2px $pink;
  font-size: 13px;

  &:hover {
    background-color: $pink;
    color: $light-pink;
    transition: 0.5s;
  }
}
.cart--clear_button {
  position: absolute;
  top: 80vh;
  left: 730px;
  width: 100px;
  height: 40px;
  color: $pink;
  background-color: $light-pink;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: solid 2px $pink;
  font-size: 13px;
  &:hover {
    background-color: $pink;
    color: $light-pink;
    transition: 0.5s;
  }
}
.cart--img {
  width: 100px;
  margin: 20px;
}
.cart--list_item {
  display: flex;
  justify-content: center;
  width: 50%;
  flex-direction: column;
  font-size: 14px;
  color: $pink;
  padding-bottom: 10%;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.cart--wrapper {
  height: 100vh;
  background-color: $light-pink;
  display: flex;

  width: 100%;
  margin: 0px 0px 0px 0px;
}
.cart--list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cart--list_total {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16pt;
  font-weight: bolder;
}
.cart {
  font-family: $font-main;
  position: absolute;
  top: 65vh;
  left: 620px;
  font-size: 14px;
  color: $pink;
}

.cart--img {
  width: 100px;
  margin: 20px;
}
@media screen and (max-width: 700px) {
  .cart--wrapper {
    flex-direction: column;
    height: 100vh;
  }
}

.cart--content_wrap {
  display: flex;
  padding-left: 5%;
  width: 100%;
}

.cart--add-remove a {
  font-size: 13px;
  color: $pink;
  padding: 5%;
}
