@import "./global.scss";

.footer--wrapper {
  height: 50vh;
  background-color: $light-pink;
  display: flex;
  width: 100%;
  padding-bottom: 70px;
}

.footer--left_wrapper {
  background-color: black;
  width: 50%;
  display: flex;
  padding-left: 5%;
  justify-content: center;
  flex-direction: column;
}

.footer--left_h2 {
  color: $lemon;
}

.footer--right_wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  flex-direction: row;
  font-size: 0.9em;
  color: $pink;
}

.footer--right_span {
  margin-bottom: 0px;
}
.footer--right_p {
  font-weight: 700;
}

.footer--typo_big {
  font-size: 20vw;
  mix-blend-mode: overlay;
  font-family: $font-header;
  color: $lemon;
  font-style: italic;
}

@media screen and (max-width: 700px) {
  .footer--wrapper {
    flex-direction: column;
    height: 100vh;
  }
}

@media screen and (max-width: 700px) {
  .footer--right_wrapper {
    width: 100%;
    height: 50%;
    padding-bottom: 60px;
  }
}

@media screen and (max-width: 700px) {
  .footer--left_wrapper {
    width: 100%;
    height: 80%;
  }
}

.footer--left_h2 {
  font-family: $font-header;
  color: $lemon !important;
}

.footer--left_p {
  margin-top: 5%;
  color: $pink;
  position: relative;
  &::after {
    width: 70%;
    height: 3px;
    content: "";
    position: absolute;
    background-color: $pink;
    top: 30px;
  }
}

.footer--cool_wrap {
  background-color: $lemon;
  position: fixed;
  width: 100%;
  height: 100px;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $pink;
  font-family: $font-header;
}

.footer--cool_p {
  font-size: 1.4em;
  text-align: center;
  &:nth-child(1) {
    padding-left: 5%;
    width: 40%;
  }
  &:nth-child(2) {
    padding-left: 2.5%;
    padding-right: 2.5%;
    width: 20%;
  }
  &:nth-child(3) {
    padding-right: 5%;
    width: 40%;
  }
}

.footer--cool_span {
  font-size: 0.6em;
  font-family: $font-main;
  margin: 3%;
}
