$pink: #fb6a6a;
$light-pink: #facaca;
$lemon: #eff8b8;
$mustard: #f1bf0f;
$black: #000000;
$white: #ffffff;
$grey: #e9e0e0;

//fonts

$font-header: "Playfair Display";
$font-main: "Roboto";

body {
    font-size: 1.3em;
    font-family: $font-main;
    background-color: $lemon;

}

/* buttons */
.button {
width: 100px;
   height: 40px;
   color: $pink;
   display: flex;
   background-color: $light-pink;
   align-items: center;
   justify-content: center;
   border-radius: 2px;
   border: solid 2px $pink;
   font-size: 13px;
   &:hover{
     background-color: $pink;  
     color: $light-pink;
     transition: 0.5s;
   }

   
}

.headline {
    text-align: center;
    color: $pink;
    margin-top: 5%;
    font-size: 1.7em;
}
