body,
#root,
.App,
html {
  font-family: "Roboto";
  background-color: #eff8b8;
  height: 100vh;
}
.button {
  width: 100px;
  height: 40px;
  color: #fb6a6a;
  background-color: #facaca;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: solid 2px #fb6a6a;
  font-size: 13px;
}
.button:hover {
  background-color: #fb6a6a;
  color: #facaca;
  transition: 0.5s;
}
.headline-2 {
  text-align: center;
  color: #fb6a6a;
  margin-top: 5%;
  font-size: 1.7em;
}
.yellow {
  color: #eff8b8;
}
