@import "./global.scss";

.header--wrapper {
<<<<<<< HEAD
    height: 60vh;
    background-color: $light-pink;
    display: flex;
}

.header--left_wrapper {
    background-image: url("../image/heroImg.png");
    width: 50%;
}

=======
  height: 60vh;
  background-color: $light-pink;
  display: flex;
  width: 100%;
}

.header--left_wrapper {
  background-image: url("../image/heroImg.png");
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header--right_circle {
  font-family: $font-header;
  border: 2px solid $lemon;
  border-radius: 50%;
  height: 250px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header--right_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.header--typo_big {
  font-size: 20vw;
  mix-blend-mode: overlay;
  font-family: $font-header;
  color: $lemon;
  font-style: italic;
}

@media screen and (max-width: 700px) {
  .header--wrapper {
    flex-direction: column;
    height: 100vh;
  }
}

@media screen and (max-width: 700px) {
  .header--right_wrapper {
    width: 100%;
    height: 50%;
  }
}

@media screen and (max-width: 700px) {
  .header--left_wrapper {
    width: 100%;
    height: 50%;
  }
}
>>>>>>> 415c02d4949b77a6be0638fe4460b53375df6201
