@import "./global.scss";
.product_detail--wrapper {
  height: 100vh;
  background-color: $light-pink;
  display: flex;
  width: 100%;
  position: relative;
}

.content p {
  font-size:3vh;
}
.product--left_wrapper {
  background-color: $white;
  width: 50%;
  display: flex;
}

.product-detail--right_wrapper {
  background-color: $lemon;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product_detail--headline {
  display: flex;
  width: 100%;
  justify-content: center;
  font-family: $font-header;
  position: absolute;
}

.product_detail--product_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10%;
}

.product_detail--product_cols {
  width: calc(100% / 3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5%;
  margin-top: 5%;
}

.product--detail--img {
  height: 30vw;
  width: 30vw;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 100px;
}

.product--detail--img img {
  height: 30vw;
  width: 25vw;
}

.product--detail--text {
  color: black;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  text-align: center;
  margin-top: 140px;
}

.product_detail--button {
  margin-top: 60px;
  width: 100px;
  height: 40px;
  color: $pink;
  background-color: $light-pink;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: solid 2px $pink;
  font-size: 13px;
  &:hover {
    background-color: $pink;
    color: $light-pink;
    transition: 0.5s;
  }
}

@media screen and (max-width: 700px) {
  .content p {
    font-size:0.8vh;
  }
  .product_detail--wrapper {
    height: 70vh;
  }
}

.product_main--wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product--popup--text {
  padding-top: 5px;
    display: flex;
  justify-content: center;
  flex-direction: column;
}

.product--popup--text button {
  
  width: 100px;
  height: 40px;
  color: $pink;
  background-color: $light-pink;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: solid 2px $pink;
  font-size: 13px;
  &:hover {
    background-color: $pink;
    color: $light-pink;
    transition: 0.5s;
  }
}



.product--popup--text content {
  //padding: 0 10px;
  padding-left: 15px;
  display: none;
  overflow: visible;
  background-color: #f1f1f1;
  
  }

  .product--popup--text p {
    $font-main: "Roboto";
    padding-left: 5%;
    padding-right: 5%;
  color: $font-main;
  width: 200px;
  
  }