@import "./global.scss";

.product_detail--wrapper {
    height: 80vh;
    background-color: $light-pink;
    display: flex;
    width: 100;
}

.product_left--wrapper {
    
    align-items: center;
    justify-content: center;
    
}


 