@import "./global.scss";

.wishlist--list_img {
  width: 200px;
  padding-top: 20px;
}
.wishlist--wrapper {
  background-color: $light-pink;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-pink;
  flex-direction: column;
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding-top: 120px;
  padding-bottom: 50px;
}
.wishlist--list {
  list-style-type: none;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.wishlist--items {
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-between;
}
.wishlist--row {
  padding-bottom: 0px;
  margin: 30px;
}
.wishlist--list_item {
  list-style-type: none;
  height: 430px;
  border: 1px solid $pink;
}

.title--wish {
  padding: 20px;
}
.wishlist--headline {
  font-family: $font-header;
  padding-bottom: 10px;
  position: absolute;
  top: 20px;
}
.item-desc {
  height: 70px;
  display: flex;
  padding-bottom: 0px;

  justify-content: center;
  align-items: center;
  color: $pink;
}

.wishlist--img_container {
  height: 300px;
  width: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wishlist--button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10px;
}
.wishlist--button {
  width: 100px;
  height: 40px;
  color: $pink;
  margin-top: 30px;
  background-color: $light-pink;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2px;
  border: solid 2px $pink;
  font-size: 13px;
  &:hover {
    background-color: $pink;
    color: $light-pink;
    transition: 0.5s;
  }
}
@media screen and (max-width: 700px) {
  .wishlist--wrapper {
    flex-direction: column;
    height: 100vh;
  }
}

@media screen and (max-width: 700px) {
  .wishlist--right_wrapper {
    width: 100%;
    height: 50%;
  }
}

@media screen and (max-width: 700px) {
  .wishlist--eft_wrapper {
    width: 100%;
    height: 50%;
  }
}
